/*region COLORS*/
/*endregion*/
/*region UNITS*/
/*endregion*/
/*region FONTS*/
/*endregion*/
.MainPage_root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #8999ee; }

.MainPage_content {
  flex: 1;
  background: #F9F6DE; }

/*region MODAL WINDOW*/
.MainPage_modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; }

.MainPage_modalWindow {
  margin: auto; }

/*endregion*/
