/*region COLORS*/
/*endregion*/
/*region UNITS*/
/*endregion*/
/*region FONTS*/
/*endregion*/
.ShoppingCart_root {
  position: fixed;
  bottom: 8px;
  left: 8px; }

.ShoppingCart_rootIcon {
  width: 64px;
  height: 64px;
  background: url("../../data/img/shoppingCart.png") no-repeat;
  background-size: contain;
  cursor: pointer; }

.ShoppingCart_priceLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  background: #069AE0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  cursor: pointer; }

.ShopInput_input {
  padding: 8px;
  border-radius: 5px; }

.ShoppingCart_popup {
  position: absolute;
  bottom: 8px;
  left: 100%;
  background: #1ed4c3;
  width: 250px;
  max-height: 75vh;
  overflow: auto;
  padding: 8px;
  border: solid 5px #069AE0;
  border-radius: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column; }

.ShoppingCart_emptyBut {
  font-size: 12px;
  font-weight: 800;
  cursor: pointer;
  align-self: flex-end; }

.ShoppingCart_prod {
  margin-top: 8px;
  flex-shrink: 0; }
