/*region COLORS*/
/*endregion*/
/*region UNITS*/
/*endregion*/
/*region FONTS*/
/*endregion*/
.ShopButton_root {
  display: block;
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
