/*region COLORS*/
$color1: #069AE0;
$color2: #F9F6DE;
$colorError: #ab2333;
/*endregion*/




/*region UNITS*/
$SU: 8px;
$SUx2: 16px;
$SUx3: 24px;
$SUx4: 32px;
$SUx5: 40px;
$SUx6: 48px;
$SUx7: 56px;
$SUx8: 64px;
$SUx9: 72px;
$SUx10: 80px;
$SUx15: 120px;
/*endregion*/



/*region FONTS*/
$FS1: 12px;
$FS2: 16px;
$FS3: 20px;
$FS4: 24px;
$FS5: 32px;
$FS6: 40px;
/*endregion*/